


/* ********************************************  */
 /* *******Navbar layouts/app**********   */

     .nav-item .marcador_text
     {
        color: black;
        font-weight:bold;
     }
     .navbar.navbar-light{
         background-color: transparent;
     }


/* ********************************************  */
 /* *******Carrossel homepage/index**********   */

     #intro .carousel-caption
     {
        max-height: 90%;
        padding-bottom: 23%;
     }

     #intro .carousel-caption h2
     {
        font-size: 70px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 2px 2px rgb(0, 0, 0);
     }

     #intro .carousel-caption h2 span
     {
        color:#e99a34;
     }

     #intro .carousel-caption a
     {
         background: #e99a34;
         padding:  15px 35px;
         display: inline-block;
         margin-top: 15px;
         color: #fff;
         text-transform: uppercase;
         border-radius: 10px;  
         font-weight: 600;
     }

     #intro .carousel-control-next
     {
         background-image: none;
     }

     
     #intro .carousel-control-prev
     {
         background-image: none;
     }

     #intro .carousel-indicators .active
     {
        background-color: #e99a34;
        border-color: #e99a34;
        border-radius: 12px;
        width: 12px;
        height: 12px;
     }

     #intro .carousel-indicators li
     {
        background-color: #ffffff;
        border-color: #ffffff;
        border-radius: 12px;
        width: 12px;
        height: 12px;
        cursor: pointer;
     }
     
    /* min-width & max-width */
    @media screen and (max-width: 800px) {
        #intro .carousel-caption h2 {
            font-size: 40px;
        }

        #intro .carousel-caption
        {
            max-height: 70%;
            padding-bottom: 23%;
        }

        #intro .carousel-caption a
        {
            font-size: 15px;
        }

        #intro .carousel-caption h3 {
            font-size: 20px;
        }

    }

/* ********************************************  */
 /* *******FOOTER PAGE layouts/footer**********   */

    #footer .container_frame
    {
        background: #a3a7af;
    }

    #footer .page-footer
    {   
        background: #1c2332;
    }

    #footer .page-footer .container
    {
        color: #fff;
    }

    #footer .page-footer .container a
    {
        color: #fff;
    }

    #footer .page-footer .footer-copyright
    {
        background: rgba(0,0,30,.2);
    }

 /* ***************************************************  */
 /* ******* CARDS view /sobre/index.blade.php**********  */

    #team img
    {
        margin-top: -50px;
    }

    #team i
    {
        font-size: 26px;
        color: #555;
    }

    #team .card .card-body p
    {
        min-height: 100px;
    }

    #team .card
    {
        border-radius: 0;
        box-shadow: 3px 3px 6px #e74c3c;
        transition: all 0.3 ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
    }

    #team .card .card-footer i

    {
        transition: all 0.5 ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
    }

    #team .card:hover
    {
        background: #e74c3c;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 10px #9e9e9e;
    }

    #team .footer-text
    {
        color: #6c757d;
    }

    #team .card:hover h3, #team .card:hover i, #team .card:hover small
    
    {
        color: #fff;
    }

    @media screen and (min-width: 600px) and (max-width: 800px)
    {
        #team .card 
        {
            min-height: 450px;
        }
    }

 
 /* ******************************  */
 /* ******* GALERIA CARDS**********  */

    .gallery-block.cards-gallery
    {
        overflow-x: hidden;
    }

    .gallery-block.cards-gallery .card
    {
        transition: 0.5s ease;
    }

    .gallery-block.cards-gallery .card img
    {
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        border-radius: 5px;
    }

    .gallery-block.cards-gallery .card
    {
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    }

    /* faz a o efeito do bloco da imagem ir um pouco para frente ao passar o mouse*/
    @media screen and (min-width:600px)
    {
        .gallery-block .transform-on-hover:hover{
            transform: translateY(-10px) scale(1.02);
            -webkit-transform: translateY(-10px) scale(1.02);
            -moz-transform: translateY(-10px) scale(1.02);
            -o-transform: translateY(-10px) scale(1.02);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, .15) !important;
            filter: brightness(115%);
            -webkit-filter: brightness(115%);
            -moz-filter: brightness(115%);
            -o-filter: brightness(115%);
        }
    }


 /* ******************************  */
 /* ******* Custom Buttom All pages**********  */

    #custom-button .btn
    {
        border: 1px solid #3498db;
        background: none;
        font-size: 15px;
        cursor: pointer;
        transition: 0.8s;
        position: absolute;
        overflow: hidden;
    }

    @media screen and (max-width:0600px)
    {
        #custom-button .btn
        {
            font-size:14px;
        }      
    }

    #custom-button .btn.btn1 , #custom-button .btn.btn2
    {
        color: #3498dc;
    }

    #custom-button .btn.btn3 , #custom-button .btn.btn4
    {
        color: #fff;
    }   

    #custom-button .btn.btn1:hover ,#custom-button .btn.btn2:hover
    {
        color: #fff;
    }

    #custom-button .btn.btn3:hover , #custom-button .btn.btn4:hover
    {
        color: #3498dc;
    }

    #custom-button .btn::before
    {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        background: #3498dc;
        z-index: -1;
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
    }

    #custom-button .btn1::before
    {
        top: 0 ;
        border-radius: 0 0 50% 50%;
    }

    #custom-button .btn2::before
    {
        bottom: 0 ;
        border-radius: 50% 50% 0 0;
    }

    #custom-button .btn3::before 
    {
        top: 0 ;
        border-radius: 0 0 50% 50%;
    }

    #custom-button .btn4::before
    {
        bottom: 0 ;
        border-radius: 50% 50% 0 0;
    }

    #custom-button .btn3::before , #custom-button .btn4::before
    {
        height: 180%;
    }

    #custom-button .btn1:hover::before , #custom-button .btn2:hover::before
    {
        height: 180%;
    }

    #custom-button .btn3:hover::before , #custom-button .btn4:hover::before
    {
        height: 0;
    }










