
/* ********************************************  */
 /* *******Navbar layouts/app**********   */

     .nav-item .marcador_text
     {
        color: black;
        font-weight:bold;
     }
     .navbar.navbar-light{
         background-color: transparent;
     }


/* ********************************************  */
 /* *******Carrossel homepage/index**********   */

     #intro .carousel-caption
     {
        max-height: 90%;
        padding-bottom: 23%;
     }

     #intro .carousel-caption h2
     {
        font-size: 70px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 2px 2px rgb(0, 0, 0);
     }

     #intro .carousel-caption h2 span
     {
        color:#e99a34;
     }

     #intro .carousel-caption a
     {
         background: #e99a34;
         padding:  15px 35px;
         display: inline-block;
         margin-top: 15px;
         color: #fff;
         text-transform: uppercase;
         border-radius: 10px;  
         font-weight: 600;
     }

     #intro .carousel-control-next
     {
         background-image: none;
     }

     
     #intro .carousel-control-prev
     {
         background-image: none;
     }

     #intro .carousel-indicators .active
     {
        background-color: #e99a34;
        border-color: #e99a34;
        height: 15px;
        width: 15px;
        border-radius: 20px;
        cursor: pointer;
     }

     #intro .carousel-indicators li
     {
        background-color: #ffffff;
        border-color: #ffffff;
        height: 15px;
        width: 15px;
        border-radius: 20px;
        cursor: pointer;
     }
     
    /* min-width & max-width */
    @media screen and (max-width: 800px) {
        #intro .carousel-caption h2 {
            font-size: 40px;
        }

        #intro .carousel-caption
        {
            max-height: 70%;
            padding-bottom: 23%;
        }

        #intro .carousel-caption a
        {
            font-size: 15px;
        }

        #intro .carousel-caption h3 {
            font-size: 20px;
        }

    }

/* ********************************************  */
 /* *******FOOTER PAGE layouts/footer**********   */

    #footer .container_frame
    {
        background: #a3a7af;
    }

    #footer .page-footer
    {   
        background: #1c2332;
    }

    #footer .page-footer .container
    {
        color: #fff;
    }

    #footer .page-footer .container a
    {
        color: #fff;
    }

    #footer .page-footer .footer-copyright
    {
        background: rgba(0,0,30,.2);
    }

 /* ***************************************************  */
 /* ******* CARDS view /sobre/index.blade.php**********  */

    #team img
    {
        margin-top: -50px;
    }

    #team i
    {
        font-size: 26px;
        color: #555;
    }

    #team .card .card-body p
    {
        min-height: 100px;
    }

    #team .card
    {
        border-radius: 0;
        box-shadow: 3px 3px 6px #e74c3c;
        transition: all 0.3 ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
    }

    #team .card .card-footer i

    {
        transition: all 0.5 ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
    }

    #team .card:hover
    {
        background: #e74c3c;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 10px #9e9e9e;
    }

    #team .footer-text
    {
        color: #6c757d;
    }

    #team .card:hover h3, #team .card:hover i, #team .card:hover small
    
    {
        color: #fff;
    }

    @media screen and (min-width: 600px) and (max-width: 800px)
    {
        #team .card 
        {
            min-height: 450px;
        }
    }

 
 /* ******************************  */
 /* ******* GALERIA CARDS**********  */

    .gallery-block.cards-gallery
    {
        overflow-x: hidden;
    }

    .gallery-block.cards-gallery .card
    {
        transition: 0.5s ease;
    }

    .gallery-block.cards-gallery .card img
    {
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        border-radius: 5px;
    }

    .gallery-block.cards-gallery .card
    {
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    }

    /* faz a o efeito do bloco da imagem ir um pouco para frente ao passar o mouse*/
    @media screen and (min-width:600px)
    {
        .gallery-block .transform-on-hover:hover{
            transform: translateY(-10px) scale(1.02);
            -webkit-transform: translateY(-10px) scale(1.02);
            -moz-transform: translateY(-10px) scale(1.02);
            -o-transform: translateY(-10px) scale(1.02);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, .15) !important;
            filter: brightness(115%);
            -webkit-filter: brightness(115%);
            -moz-filter: brightness(115%);
            -o-filter: brightness(115%);
        }
    }


 /* ******************************  */
 /* ******* Custom Buttom All pages**********  */

    #custom-button .btn
    {
        border: 1px solid #3498db;
        background: none;
        font-size: 15px;
        cursor: pointer;
        transition: 0.8s;
        position: relative;
        overflow: hidden;
    }

    @media screen and (max-width:0600px)
    {
        #custom-button .btn
        {
            font-size:14px;
        }      
    }

    #custom-button .btn.btn1 , #custom-button .btn.btn2
    {
        color: #3498dc;
    }

    #custom-button .btn.btn3 , #custom-button .btn.btn4
    {
        color: #fff;
    }   

    #custom-button .btn.btn1:hover ,#custom-button .btn.btn2:hover
    {
        color: #fff;
    }

    #custom-button .btn.btn3:hover , #custom-button .btn.btn4:hover
    {
        color: #3498dc;
    }

    #custom-button .btn::before
    {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        background: #3498dc;
        z-index: -1;
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
    }

    #custom-button .btn1::before
    {
        top: 0 ;
        border-radius: 0 0 50% 50%;
    }

    #custom-button .btn2::before
    {
        bottom: 0 ;
        border-radius: 50% 50% 0 0;
    }

    #custom-button .btn3::before 
    {
        top: 0 ;
        border-radius: 0 0 50% 50%;
    }

    #custom-button .btn4::before
    {
        bottom: 0 ;
        border-radius: 50% 50% 0 0;
    }

    #custom-button .btn3::before , #custom-button .btn4::before
    {
        height: 180%;
    }

    #custom-button .btn1:hover::before , #custom-button .btn2:hover::before
    {
        height: 180%;
    }

    #custom-button .btn3:hover::before , #custom-button .btn4:hover::before
    {
        height: 0;
    }


/********************* *******************************/
/*******************  LOGIN PAGE  ********************/

    #login
    {
        height: 95vh;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto' , sans-serif;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Variables */
    :root
    {
        --primary-gradient: linear-gradient(to right, #f7f7f7, #2b5876);
    }

    #login .form-container
    {
        width: 100%;
        max-width: 40rem;
        background-color: #fff;
        position: relative;
        padding: 6rem 0;
        box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
        border-radius: 1rem;
        z-index: 1;
    }

    #login .form-container::before
    {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 20rem;
        background: linear-gradient(to left, #8edbff , #ec008c);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        z-index: -1;
    }

    #login .form-heading
    {
        color: #fff;
        font-size: 2.5rem;
        position: absolute;
        top: 1.5rem;
        left: 6rem;
    }

    #login form
    {
        transform: translateX(6rem);
        padding: 1rem 0;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
    }
    
    #login .input-group
    {
        width: 90%;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: baseline;
    }

    #login .input-group input
    {
        position: relative;
        width: 80%;
        padding: 1rem;
        margin-top: .5rem;
        border: none;
        outline: none;
        font-size: 1.8rem;
        color: #fc6767;
    }

    #login .input-group > i
    {
        font-size: 2rem;
        margin-right: 1rem;
        color:#fc6767;
    }

    #login .input-group .bar
    {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .1);
        width: 100%;
        height: 1px;
    }

    #login .input-group .bar::before
    {
        content: '';
        position: absolute;
        background-color: #fc6767;
        width: 0;
        height: 2px;
        transition: width 650ms;
    }

    #login .input-group input:focus + .bar::before
    {
        width: 100%;
    }

    #login .input-group button
    {
        margin: 3rem 1.4rem;
        padding: 1rem 5rem;
        background: linear-gradient(to left, #8edbff , #ec008c);
        border: none;
        color: #fff;
        font-size: 2.5rem;
        cursor: pointer;
        border-radius: 3rem;
    }

    #login .input-group button i
    {
        color:#ffffff;
        transition: 0.7s;
    }

    #login .input-group button:hover i
    {
        color:rgba(0,0,30,.6);
    }

    #login .form-check-label
    {
       text-decoration: none;
       color: #a1a1a1;
    }

    #login .password-recovery
    {
        text-align: center;
    }

    #login .password-recovery a
    {
       text-decoration: none;
       color: #a1a1a1;
       font-size: 1.5rem;
    }

    #login .password-recovery a span
    {
       color: #fc6767;
    }

    #login .password-recovery a span:hover
    {
        padding-bottom: 2px;
        border-bottom: 2px solid #fc6767;
    }

    @media screen and (max-width: 1000px)
    {
        #login
        {
            height: 150vh;
        }
        #login .form-container::before
        {
            height: 10rem;
        }
        #login .form-heading
        {
            left:50%;
            transform: translateX(-50%);
        }

        #login form{
            border-radius: initial;
            transform: initial;
            box-shadow: none;
        }
    }




